.container {
    background-color: aliceblue;
}

.mainlogo {
    width: 150px;
    height: 150px;
}

.mainlogo #box {
    fill: var(--tertiary);
}

.mainlogo #pin {
    fill: var(--accent);
    
}

.mainlogo #name {
    fill: var(--secondary);
    
}

.mainlogo #slogan {
    fill: var(--secondary);
}