:root {
  --primary: #848FA5;
  --secondary: #d2e5a7;
  --redtext: #EA463F;

  --tertiary-dark-40: #306a77;
  --tertiary-dark-20: #2f7d8b;
  --tertiary: #4498aa;
  --tertiary-light-20: #69adbb;
  --tertiary-light-40: #8fc1cc;

  --accent: #393B54;
  --action: #f6bc46;

  --clampFont: clamp(1rem, 0.6795rem + 1.7094vw, 1.5rem);
  --clampH1: clamp(1.25rem, 0.9295rem + 1.7094vw, 1.75rem);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--redtext);
}

h1 {
  font-size: var(--clampH1);
}

code {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}